.board {
    height: 400px;
    width: 400px;
    border: solid black 1px;
    display: grid;
}

/*  you really could just align the body fr  */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* We boutta see what this do */
    display: grid;
}